.create-scene-object-dialog {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    :deep(.el-dialog__body) {
        padding: 0;
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .dialog-content {
        flex: 1;
        height: 500px; // 设定一个合理的高度
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .dialog-footer {
        padding-top: 10px;
        display: flex;
        justify-content: flex-end;
        gap: 12px;
    }
}


.set_style {
    width: 100%;
    height: 100%;
    display: flex;
}

.set_style_list {
    width: 250px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #4a4545;
}

.set_style_list>.style_list {
    width: 100%;
    flex: 1;
    overflow: auto;
}

.style_list_div,
.style_list_div_stoy {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 100%;
    overflow-x: hidden;
}

.style_button {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.style_button>button {
    height: 32px;
    background: rgba(28, 28, 29, 0.6);
    border-radius: 4px;
    border: 1px solid #3b3c40;
    cursor: pointer;
    color: rgba(230, 230, 230, 1);
    padding: 0 10px;
    text-decoration: none;
    font-size: 12px;
    line-height: 32px;
    margin-right: 20px;
}

.style_button>button:hover {
    border: 1px solid rgba(44, 104, 247, 1);
}

.set_style_list_lilist {
    width: 70px;
    height: 100px;
    margin-right: 6px;
    border-radius: 5px;
    position: relative;
}

.set_imgposition {
    border-radius: 5px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border: 2px solid rgba(37, 38, 42, 0.9);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.set_imgposition>img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.set_style_edit {
    flex: 1;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.set_style_rule1 {
    width: 100%;
    height: 30px;
    border-bottom: transparent;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 14px;
}

.set_style_rule2 {
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 14px;
}

.set_style_rule_list {
    display: flex;
    text-align: center;
    background-color: rgba(28, 28, 29, 0.6);
    border-radius: 4px;
}

.set_style_rule_list2 {
    display: flex;
    text-align: center;
    border-bottom: 1px solid #111111;
    padding: 10px 0;
}

.style_rule_list_index {
    width: 8%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.style_rule_list_two {
    width: 62%;
    box-sizing: border-box;
}

.rule_list_two_name {
    width: 100%;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(28, 28, 29, 0.6);
    border-radius: 4px;
    margin-bottom: 10px;
}

.rule_list_two_name2 {
    width: 100%;
    height: 30px;
}

.rule_list_two_name2>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
}

.rule_list_two_valuename,
.rule_list_two_Operator,
.rule_list_two_value {
    width: 30%;
}

.rule_list_two_Operator_ban {
    pointer-events: none !important;
}

.rule_list_two_value>input {
    width: 100%;
    height: 24px;
    background: rgba(28, 28, 29, 0.6);
    border-radius: 8px;
    border: 1px solid #3b3c40;
    margin-right: 0;
    color: rgba(230, 230, 230, 1);
    padding: 0 13px 0 11px;
    box-sizing: border-box;
    outline: none;
}

.rule_list_two_value>.input_ban {
    background: rgba(48, 48, 48, 0.6) !important;
    cursor: not-allowed;
}

.rule_list_two_value>input:hover {
    border: 1px solid #2c68f7;
}

.rule_list_two_value>input:focus {
    border: 1px solid #2c68f7;
}

.rule_list_two_change {
    width: 10%;
}

.style_rule_list_color {
    width: 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.style_rule_list_show {
    width: 10%;
    /* border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.style_rule_list_show>div {
    width: 26px;
}

.style_rule_list_change {
    width: 10%;
    /* border-bottom: 1px solid #ccc; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setStyle_onlineimageName {
    display: inline-block;
    width: 66px;
    text-align: center;
    margin-left: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
}

.set_imgposition>span {
    position: absolute;
    bottom: 23px;
    white-space: nowrap;
    padding: 2px;
    z-index: 10000;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 12px;
    /* width: 46px; */
}

.set_imgposition:hover {
    border: 2px solid rgba(44, 104, 247, 1);
}

.set_checkedactive {
    border: 2px solid rgba(44, 104, 247, 1);
}

.set_style_name {
    width: 100%;
    height: 30px;
    text-align: center;
}

.set_style_tab {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.set_style_tab>div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.style_rule_edit {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header_item3 {
    width: 130px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_item3>span {
    display: inline-block;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: rgba(183, 183, 183, 1);
    min-width: 130px;
}

.header_active3 {
    color: #fff !important;
    background: linear-gradient(180deg,
            rgba(87, 136, 255, 0) 0%,
            rgba(87, 136, 255, 0.26) 100%,
            #5788ff 100%) !important;
}

.header_item3:hover .header_item_span3 {
    color: #fff;
    background: linear-gradient(180deg,
            rgba(87, 136, 255, 0) 0%,
            rgba(87, 136, 255, 0.26) 100%,
            #5788ff 100%) !important;
}
