.roam_ue {
  width: 100%;
  height: 50px;
  display: flex;
  color: #fff;
  margin-top: 20px;
  font-size: 12px;
  line-height: 26px;
  color: rgba(230, 230, 230, 1);
  padding: 0 15px;
  box-sizing: border-box;
}

.roam_ue>label {
  width: 60px;
  height: 26px;
  font-family: SourceHanSansCN, SourceHanSansCN;
  font-weight: 400;
  text-align: left;
}

.roam_ue>input {
  flex: 1;
  height: 26px;
  background: rgba(28, 28, 29, 0.6);
  border-radius: 4px;
  border: 1px solid #3b3c40;
  color: rgba(230, 230, 230, 1);
  padding-left: 11px;
  box-sizing: border-box;
}

.roam_ue>input:hover {
  border: 1px solid #2c68f7;
}

.roam_ue>input:focus {
  border: 1px solid #2c68f7;
}

.roam_custom_box {
  width: 100%;
  height: auto;
}

.input_number::-webkit-outer-spin-button,
.input_number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input_number[type="number"] {
    -moz-appearance: textfield;
}

.roam_custom_head {
  width: 250px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-left: 10px;
  border-bottom: 1px solid rgba(183, 183, 183, 0.5);
  color: rgba(230, 230, 230, 1);
  font-size: 12px;
  user-select: none;
}

.roam_custom_head_top {
  flex: 1;
}

.roam_custom_head_bottom {
  width: 40px;
  display: flex;
  justify-content: space-between;
}

.roam_custom_head_bottom>div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.roam_custom_head_bottom>div:nth-child(1) {
  /* border-right: 1px solid rgba(183, 183, 183, 0.5); */
  padding-right: 7px;
  box-sizing: border-box;
}

.poplist_content {
  padding: 15px 15px 15px 10px;
}

.roam_custom_centent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 100%;
  height: auto;
  max-height: 200px;
  margin: 15px 0 0 0;
  padding: 0;
}

.roam_custom_centent::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(41, 42, 46, 1);
  border-radius: 2px;
}

.roam_custom_centent::-webkit-scrollbar-thumb {
  background-color: rgba(183, 183, 183, 1);
  border-radius: 2px;
}

.roam_custom_item {
  width: 78px;
  height: 100px;
  margin-right: 6px;
  border-radius: 5px;
  position: relative;
}

.roam_custom_item:nth-child(3n) {
  margin-right: 0;
}

.roam_custom_operate {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 74px;
  height: 12px;
  background: rgba(28, 28, 30, 0.8);
  display: flex;
  justify-content: right;
  align-items: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.roam_custom_operate>span {
  width: 10px;
  height: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roam_custom_operate>span:nth-child(1),
.roam_custom_operate>span:nth-child(2) {
  border-right: 1px solid rgba(87, 91, 102, 0.3);
}

.roam_img_item {
  border-radius: 5px;
  width: 78px;
  height: 78px;
  cursor: pointer;
  border: 2px solid rgba(37, 38, 42, 0.9);
  box-sizing: border-box;
}

.roam_img_item_selected {
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid rgba(44, 104, 247, 1);
}

.roam_img_item:hover {
  border: 2px solid rgba(44, 104, 247, 1);
}

.roam_name_item {
  display: inline-block;
  font-size: 10px;
  width: 100%;
  height: 12px;
  line-height: 12px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(230, 230, 230, 1);
}

.roam_name_editing {
  font-size: 10px;
  width: 100%;
  height: 14px;
  line-height: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(28, 28, 29, 0.6);
  border-radius: 4px;
  border: 1px solid #3b3c40;
  color: rgba(230, 230, 230, 1);
  padding-left: 10px;
  box-sizing: border-box;
}



.interation_text {
  width: 100%;
}
.interation_text>p {
  width: 100%;
  font-size: 12px;
  color: rgba(230, 230, 230, 1);
}
.interation_text>div {
  width: 100%;
  display: flex;
  margin: 10px 0;
  line-height: 16px;
}

.interation_text>div>span:nth-child(1) {
  width: 25%;
  text-align: left;
  font-size: 12px;
  color: rgba(230, 230, 230, 1);
}
.interation_text>div>span:nth-child(2) {
  text-align: left;
  font-size: 12px;
  color: rgba(230, 230, 230, 1);
}


.roam_pick {
  width: 100%;
  display: flex;
}

.roam_pick>label {
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: rgba(230, 230, 230, 1);
  font-size: 12px;
  line-height: 26px;
}

.roam_pick>div {
  display: flex;
  align-items: center;
  flex: 1;
}