
.environment_slider {
  width: 100%;
  height: 26px;
  display: flex;
  align-items: center;
  margin: 0 15px 10px 15px;
  font-size: 12px;
  line-height: 26px;
  color: rgba(230, 230, 230, 1);
}
.environment_slider_time {
  width: 100%;
  margin: 0 15px 10px 15px;
  font-size: 12px;
  line-height: 26px;
  color: rgba(230, 230, 230, 1);
}
.environment_slider_time>div > span {
  width: 28px;
  height: 26px;
  font-size: 11px;
  display: inline-block;
  text-align: right;
  line-height: 26px;
  background: rgba(88, 88, 93, 1);
  border-radius: 4px;
  margin-left: 6px;
}

.environment_slider > label {
  display: inline-block;
  width: 60px;
  height: 26px;
  font-family: SourceHanSansCN, SourceHanSansCN;
  font-weight: 400;
  text-align: left;
}
.environment_slider > span {
  display: inline-block;
  width: 28px;
  height: 26px;
  cursor: pointer;
  background: rgba(88, 88, 93, 1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-left: 8px;
}
