/* 内容样式 */

.ei_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

.ei_item label {
  width: 70px;
  font-size: 12px;
  color: var(--el-text-color-regular);
}
.ei_item .ei_label {
  align-self: flex-start;
}

.ei_item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

/* 文本样式 */
.ei_text {
  color: var(--el-text-color-regular) !important;
  font-size: 12px !important;
  background-color: transparent !important;
}

/* 图层列表选择样式 */

.ei_list {
  width: 100%;
  height: 210px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow-y: auto;
  box-sizing: border-box;
}

.ei_list_item {
  width: 100px;
  height: 100px;
  background-color: var(--el-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  border: var(--el-border);
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s;
  padding: 5px;
  border-radius: 8px;

  &:hover {
    border-color: var(--el-color-primary);
  }

  &.active {
    border-color: var(--el-color-primary);
  }
}

.ei_list_item img {
  width: 80px;
  height: 60px;
  border-radius: 8px;
}

.ei_list_item span {
  font-size: 12px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}
