.server_lab {
    width: 100%;
    margin-top: 10px;
}

.server_content {
    max-height: 400px;
    overflow-y: auto;
    color: rgba(183, 183, 183, 1);
}

.server_content::-webkit-scrollbar-thumb {
    background-color: rgba(183, 183, 183, 1);
    border-radius: 2px;
}

.server_content::-webkit-scrollbar {
    width: 3px;
    background-color: rgba(41, 42, 46, 1);
    border-radius: 2px;
}

.server_lab_title {
    width: 100%;
    display: flex;
    background: rgba(28, 28, 29, 0.60);
    border-radius: 4px;
}

.server_lab_content {
    width: 100%;
    display: flex;
    align-items: center;
}

.server_lab_content {
    cursor: pointer;
   height: 30px;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 10px;
}

.server_lab_content:hover {
    background: rgba(28, 28, 29, 0.40);
    color: #fff;

}

.server_lab_content_active {
    background: rgba(28, 28, 29, 0.40) !important;
    color: #fff !important;

}

.server_lab_title>div {
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: rgba(183, 183, 183, 1);
    font-size: 12px;
}

.server_lab_content>div {
    height: 50px;
    text-align: center;
    font-size: 12px;
}

.server_lab_content_index,
.server_lab_title_index {
    width: 60px;
    box-sizing: border-box;

}

.server_lab_content_name,
.server_lab_title_name {
    width: 130px;
    box-sizing: border-box;
    white-space: normal;
    word-break: break-word;
}

.server_lab_content_index,
.server_lab_content_type,
.server_lab_content_server,
.server_lab_content_name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.server_lab_content_type,
.server_lab_title_type {
    width: 60px;
    box-sizing: border-box;

}

.server_lab_content_server,
.server_lab_title_server {
    flex: 1;
    border-bottom: 1px solid #3b3c40;
    box-sizing: border-box;
    white-space: normal;
    word-break: break-word;

}

.lab_Property_header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    margin-top: 10px;
}

.header_item {
    width: 60px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_item>span {
    display: inline-block;
    height: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: rgba(183, 183, 183, 1);
    min-width: 60px;
}

.header_active {
    color: #fff !important;
    background: linear-gradient(180deg, rgba(87, 136, 255, 0) 0%, rgba(87, 136, 255, 0.26) 100%, #5788FF 100%) !important;

}

.header_item:hover .header_item_span {
    color: #fff;
    background: linear-gradient(180deg, rgba(87, 136, 255, 0) 0%, rgba(87, 136, 255, 0.26) 100%, #5788FF 100%) !important;
}

.no_info {
    width: 100%;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: rgba(183, 183, 183, 1);

}

.page_lab {
    width: 100%;
    /* border-top: 1px solid #111111; */
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.page_lab_pageNum>span {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    user-select: none;
    color: rgba(183, 183, 183, 1);
}
.page_lab_pageNum>div {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: inline-block;
}
.page_lab_pageNum>div>span {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    user-select: none;
    color: rgba(183, 183, 183, 1);
    margin: 0 1px;
}
.page_lab_pageNum>div>.activespan {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: #fff;
}
.page_lab_pageSize {
    display: flex;
    position: relative;
    cursor: pointer;
    color:rgba(183, 183, 183, 1) ;
}

.page_lab_pageSize>div {
    width: 60px;
    height: 12px;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
   
}

.page_lab_pageSize>span {
    display: inline-block;
    width: 12px;
    height: 12px;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
}

.page_lab_pageSize_ul {
    position: absolute;
    width: 72px;
    left: 0;
    bottom: 20px;
    margin: 0;
    background: #292a2e;
    padding: 5px 0;
}

.page_lab_pageSize_ul>li {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
}

.page_lab_pageSize_ul>li:hover {
    background-color: #37393e;
}

.disabled {
    cursor: not-allowed !important;
}

.develop_icon {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    transition: .5s;
    width: 12px;
}

.icon_transform {
    transform-origin: 50% 45%;
    transform: rotate(-180deg);
}