body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.btn-box {
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.btn {
  padding: 0 10px;
  height: 30px;
  margin: 10px;
  background-color: #01fa7d8c;
  border: 1px solid #01fa7d8c;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}
