.item_Style {
  cursor: pointer;
}

.eye {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.treeItem-name {
  margin-left: 6px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file_name > input {
  width: 100%;
  background: rgba(28, 28, 29, 0.6);
  border-radius: 4px;
  border: 1px solid #3b3c40;
  outline: 0;
  font-size: 14px;
  height: 16px;
  color: #fff;
  margin-left: 5px;
}

.top_style {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  color: #ccc;
  transition: background 0.3s;
  border: none;
  white-space: nowrap;
}

.check_box {
  width: 18px;
  font-size: 18px;
  text-align: center;
  color: #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.scene-tree-item-type {
  display: inline-block;
  margin-left: 2px;
  width: 16px;
  height: 16px;
}
.node-type {
  background: url(../img/tile_node.png) no-repeat;
  background-size: 100% 100%;
}

.element-type {
  background: url(../img/tile_element.png) no-repeat;
  background-size: 100% 100%;
}

.tile_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 33px;
  cursor: pointer;
  user-select: none;
}

.tile_item:hover {
  background: rgba(27, 27, 27, 0.5);
}
